{% extends '::base.html.twig' %}

    {% block tittle %}Textos{% endblock %}




    {% block body %}
        <form action="{{ path('app_texto_buscar') }}" method="post">
            Name: <input type="text" name="busqueda"><br>
            <input type="radio" name="tipo" value="texto">Texto
            <input type="radio" name="tipo" value="usuario">Usuarios
            <input type="radio" name="tipo" value="tag" checked> Tag
            <input type="submit">
        </form>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_categoria_index') }}">Categorias</a> <br>
                <a href="{{ path('app_usuarios_index') }}">Usuarios</a> <br>
            {% endif %}

        {% if is_granted('ROLE_USER') %}
            Logeado como  <a href="{{ path('app_texto_show', {'author': app.user}) }}">{{ app.user.username }}</a> <br>
            {{ render(controller('AppBundle:RevistaTexto:textosNuevosRevista')) }}
            <a href="{{ path('app_texto_create') }}"><button> Introducir nuevo texto</button></a>

        {% endif %}
<div class= "container-fluid">
    <div class= "row">
        {% for texto in textos %}
            {{ include('texto/texto.html.twig', { 'texto': texto }) }}



        {% endfor %}
</div>
    </div>


    {% endblock %}

