{% extends '::base.html.twig' %}

    {% block tittle %}Textos{% endblock %}

    {% block body %}
        Usuario:{{ user.username }}<br>
        Email:{{  user.email }}<br>


        <a href="{{ path('app_texto_index') }}">Volver</a> <br>
        <p>"{{ user.descripcion  }}"</p>
        {% if user.image == null %}
            <img src="{{ asset("images/profile.png") }}" class="img-responsive" width="304" height="236">
        {% else %}
            <img src="{{ asset("images/upload/" ~usuario.image) }}" class="img-responsive" width="304" height="236" >
        {% endif %}



        {% for texto in textos %}
            {{ include('texto/texto.html.twig', { 'texto': texto }) }}
        {% endfor %}

    {% endblock %}
