{% extends '::base.html.twig' %}

    {% block tittle %}Textos{% endblock %}

    {% block body %}
        Usuario:{{ user.username }}<br>
        Email:{{  user.email }}<br>
        Nº de textos escritos: {{ user.numTextos }}<br>

        <a href="{{ path('app_texto_index') }}">Volver</a> <br>

        {% for texto in textos %}
            {{ include('texto/texto.html.twig', { 'texto': texto }) }}<a href="{{ path('app_texto_individual', {'id': texto.id}) }}"><button>Seguir leyendo</button></a><br>
        {% endfor %}

    {% endblock %}
