{% extends '::base.html.twig' %}

    {% block tittle %}Textos{% endblock %}

    {% block body %}

        <!-- tabla -->
        <div class= "container-fluid">
            <div class= "row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                    {% if texto.image == null %}
                        <img src="{{ asset("images/maquinamediana.jpg") }}" class="img-responsive" alt="siu">
                    {% else %}
                        <img src="{{ asset("images/upload/" ~texto.image) }}" class="img-responsive" alt="siu">
                    {% endif %}
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" id="cuerpoIndividual" style="margin-top: -20%; background-color: white; border-radius: 1%;">
                        <a href="{{ path('app_textoCategoria_show', {'categoria': texto.categoria}) }} "><div class="col-xs-offset-5 col-xs-7  col-sm-offset-7 col-sm-5 col-md-offset-7 col-md-5  col-lg-offset-7 col-lg-5 tag ">{{texto.categoria}}</div></a>
                        <br>
                        <h1><strong>{{texto.titulo}}</strong></h1>
                        <em>{{ texto.createdAt | date}}</em> by <strong><a href="{{ path('app_texto_show', {'author': texto.author}) }}">{{texto.author}}</strong></a>
                        <br>
                        <br>
                        <p  style="text-align : justify;">{{texto.cuerpo | nl2br}}</p>

                    </div>
                    <!--Barra de me gusta y enviar a revita-->
                    <div name="revista">
                        <div class="col-xs-4 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3" ><label>Lecturas:  <strong>{{texto.numVisitas}}</strong></label></div>

                        <a href="{{ path('app_texto_addRemoveRevista', {'id': texto.id}) }}">
                            <button type="button" class="btn btn-default  col-xs-3 col-sm-3 col-md-3 col-lg-3"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
                        </a>

                        <a href="{{ path('app_texto_favRevista', {'id': texto.id}) }}">
                            <button type="button" class="btn btn-success col-xs-5 col-sm-4 col-md-4   col-lg-4"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></button>
                        </a>
                    </div>


                    <!--Editar y Borrar texto-->
                    {% if app.user %}
                    {% if (app.user == texto.author) or (app.user.hasRole('ROLE_ADMIN')) %}
                        <div name="Edicion y eliminacion">
                            <a href="{{ path('app_texto_update', {'id': texto.id}) }}">
                                 <button type="button" class="btn btn-info col-xs-6 col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            </a>
                            <a href="{{ path('app_texto_remove', {'id': texto.id}) }}">
                                 <button type="button" class="btn btn-danger col-xs-6 col-sm-5 col-md-5   col-lg-5"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></button>
                            </a>
                        </div>
                    {% endif %}
                    {% endif %}
                    <!--Tags-->



                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" style="padding-bottom: 20px">

                        {% for tag in texto.tags %}
                            {% if tag.getNombre()=="" %}
                            {% else %}
                             <a href="{{ path('app_textoTag_show', {'tag': tag.nombre()}) }}">
                                     <div class="tag">{{tag.nombre}}</div>
                                   </a>

                         {% endif %}
                        {% endfor %}

                    </div>
                    <br>
                    <br>

                    <!--Usuario-->

                    <div class="col-xs-12 col-sm-offset-1  col-sm-10 col-sm-offset-1  col-md-offset-1  col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1" style="background-color:#FBFCFC; margin-bottom: 5%">
                        <div class="panel-group">

                                <div class="panel-body col-xs-12 col-sm-3 col-md-3 col-lg-3 " id="imagenPerfil">
                                    {% if usuario.image == null %}
                                        <img src="{{ asset("images/profile.jpg") }}" class="img-responsive" >
                                    {% else %}
                                        <img src="{{ asset("images/upload/" ~usuario.image) }}" class="img-responsive"  >
                                    {% endif %}
                                </div>

                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="usuarioDatos">

                                        <h2>{{usuario.username}}</h2>

                                    </div>



                                    {% if app.user %}
                                        {% if app.user == texto.author %}

                                        {% elseif  texto.author in app.user.getSuscripciones() %}

                                            <a href="{{ path('app_usuario_suscripcion', {'usuario': texto.author}) }}">
                                                <button class=" btn btn-danger col-xs-12 col-sm-4 col-md-4 col-lg-4" style="margin-top: 2%">Quitar suscripcion
                                                </button>
                                            </a>
                                            <br>
                                        {% else %}
                                            <a href="{{ path('app_usuario_suscripcion', {'usuario': texto.author}) }}">
                                                <button class=" btn btn-danger col-xs-12 col-sm-4 col-md-4 col-lg-4" style="margin-top: 2%">Suscripcion
                                                </button>
                                            </a>
                                            <br>
                                        {% endif %}
                                    {% endif %}

                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" id="usuarioDatos">
                                    <em>{{usuario.descripcion}} </em>

                                </div>

                            </div>


                    </div>
                    <br>
                    <br>
                    {{ render(controller('AppBundle:Comentario:index', {'id': texto.id})) }}



                </div>


                <!-- Textos sugeridos -->

                <h3 style="text-align:center">Textos sugeridos por categoria</h3>

                {%for textoCategoria in textosCategoria%}
                    {{ include('texto/texto.html.twig', { 'texto': textoCategoria }) }}

                {%endfor%}


                <div id="titulo">
                    <h3>Textos sugeridos por autor</h3>
                </div>
                {{ include('texto/texto.html.twig', { 'texto': textoAutor }) }}

            </div>
        </div>

    {% endblock %}
