{% extends '::base.html.twig' %}

    {% block tittle %}Textos{% endblock %}

    {% block body %}

        <a href="{{ path('app_texto_index') }}">Volver</a> <br>


            {{ include('texto/texto.html.twig', { 'texto': texto }) }}<br>
        <a href="{{ path('app_texto_removeFromRevista', {'id': texto.id}) }}"><button>Quitar Texto</button></a><br>
        <a href="{{ path('app_texto_favRevista', {'id': texto.id}) }}"><button>FAV</button></a><br>

        {% if (app.user == texto.author) or (app.user.hasRole('ROLE_ADMIN')) %}
            <a href="{{ path('app_texto_remove', {'id': texto.id}) }}">remove</a> <br>
            <a href="{{ path('app_texto_update', {'id': texto.id}) }}">Editar texto</a> <br>
        {% endif %}
        {% if app.user  %}
            <h3>Comentarios</h3>
            {{ render(controller('AppBundle:Comentario:index', {'id': texto.id})) }}
            {{ render(controller('AppBundle:Comentario:create', {'id': texto.id})) }}
        {% endif %}

    {% endblock %}
