<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Mygazine{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/jumbotron.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:white;" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <!--Son las tres rayas que aparecen en el boton para desplegar en mobiles-->
            </button>
            <a class="navbar-brand" href="{{ path('app_texto_index') }}" id="logoBarra">
                <img src="{{ asset("images/logo2.jpg") }}" class="img-responsive" width="152" height="118" >
            </a>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
        otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a  href="{{ path('app_texto_index') }}" ><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Articulos</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><form class="navbar-form navbar-left" role="search" action="{{ path('app_texto_buscar') }}" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Buscar" name="busqueda">
                                    <select name="tipo" class="form-control col-xs-12 col-sm12 col-md-12 col-lg-12">
                                        <option  value="texto">Titulo</option>
                                        <option  value="usuario">Usuario</option>
                                        <option  value="tag">Tag</option>
                                    </select>
                                    <button type="submit" class="btn btn-default col-xs-12 col-sm-6 col-md-6 col-lg-6">Aceptar</button>
                                </div>

                            </form>
                        </li>
                        <li class="divider"></li>
                        <li><label>Categorias</label></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('app_textoCategoria_show', {'categoria': 1}) }}">Historia y creencias</a></li>
                        <li><a href="{{ path('app_textoCategoria_show', {'categoria': 10}) }}">Deporte</a></li>
                        <li><a href="{{ path('app_textoCategoria_show', {'categoria': 3}) }}">Ciencia y cultura</a></li>
                        <li><a href="{{ path('app_textoCategoria_show', {'categoria': 9}) }}">Ocio</a></li>
                        <li><a href="{{ path('app_textoCategoria_show', {'categoria': 5}) }}">Actualidad y sociedad</a></li>
                        <li><a href="{{ path('app_textoCategoria_show', {'categoria': 6}) }}">Musica</a></li>
                        <li><a href="{{ path('app_textoCategoria_show', {'categoria': 7}) }}">Bienestar y familia</a></li>
                        <li><a href="{{ path('app_textoCategoria_show', {'categoria': 8}) }}">Empresa y tecnologia</a></li>
                        <li><a href="{{ path('app_textoCategoria_show', {'categoria': 11}) }}">Miscelanea</a></li>

                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right ">
                <div class="navbar-form navbar-right ">
                    {{ render_esi(controller('UserBundle:HoritzontalLogin:horitzontalLogin', {'route': app.request.get('_route')})) }}
                </div>
            </ul>

        </div>
        </div>
</nav>

<div class="container" >
    <ul>
        {% for message in app.session.flashBag.get('messages') %}
            <li style="background-color:#DBECEC  ">{{ message }}</li>
        {% endfor %}
    </ul>
</div>

<div class="container-fluid">
    <div class="margin-bottom-md"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            {% block body %}
                {% include var ~ 'index/index.html.twig' %}
            {% endblock %}
        </div>
       
    </div>
    <hr>
    <footer>
        <p class="text-right">&copy; 2017 Iván Martínez</p>
    </footer>
</div> <!-- /container -->

{% block javascripts %}
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>