{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div id="bienvenida">
				<h1><strong>Bienvenidos a Articlea</strong></h1>
				<h3><em>La comunidad donde los usuarios se convierten en articulistas y lectores</em></h3>
			</div>
		</div>
		<div class="row">
			<div id="myCarousel" class="carousel slide estiloPC " data-ride="carousel">
			  <!-- Indicators -->
				<ol class="carousel-indicators">

				    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

				    <li data-target="#myCarousel" data-slide-to="1"></li>

				    <li data-target="#myCarousel" data-slide-to="2"></li>

				</ol>

				  <!-- Wrapper for slides -->
				<div class="carousel-inner">

			    	<div class="item active">

					    <img src="{{ asset("images/reading.jpg") }}" alt="Lectura">

					    <div class="carousel-caption d-none d-md-block">
					       	<div class="cajaCarousel">
							   		 <h1><em><strong>"Lee articulos originales"</strong></em></h1> 		 
							</div>

							<button class="btn saberMas botonSaber1" >Saber más</button>
						</div>

					</div>
				

				    <div class="item">
			      	  	<img src="{{ asset("images/textoEscribir.jpg") }}" alt="Escribir">
			      	   	<div class="carousel-caption d-none d-md-block">
						    <div class="cajaCarousel">
						   		 <h1><em><strong>"Escribe sobre lo que te apasiona"</strong></em></h1> 
							</div>
							<button class="btn saberMas botonSaber2">Saber más</button>	
				  	  	</div>
				    </div>

				    <div class="item">
			      	  	<img src="{{ asset("images/textoConfeccion.jpg") }}" alt="Escribir">
			      	   	<div class="carousel-caption d-none d-md-block">
						    <div class="cajaCarousel">
						   		 <h1><em><strong>"Crea tu revista personalizada"</strong></em></h1>
							</div>
						<button class="btn saberMas botonSaber3" >Saber más</button>
				  	  	</div>
				    </div>

					  <!-- Left and right controls -->
				  	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				    	<span class="glyphicon glyphicon-chevron-left"></span>
				    	<span class="sr-only">Previous</span>
				  	</a>
				  	<a class="right carousel-control" href="#myCarousel" data-slide="next">
				    	<span class="glyphicon glyphicon-chevron-right"></span>
				    	<span class="sr-only">Next</span>
			  	 	</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="myCarousel2" class="carousel slide estiloMov " data-ride="carousel">

			  	<!-- Wrapper for slides -->
			  	<div class="carousel-inner">

			    	<div class="item active">

					    <img src="{{ asset("images/reading.jpg") }}" alt="Lectura">

				       	<div class="carousel-caption d-none d-md-block cajaMovil">
				       		<div class="cajaCarousel">
						   		 <h4><em><strong>"Lee articulos originales"</strong></em></h4>
							</div>
				  	  	</div>
					  	<button class="btn saberMas botonSaber1">Saber más</button>
				  	</div>

				    <div class="item">
				      	<img src="{{ asset("images/textoEscribir.jpg") }}" alt="Escribir">
			      	   	<div class="carousel-caption d-none d-md-block cajaMovil">
						    <div class="cajaCarousel">
						   		 <h4><em><strong>"Escribe sobre lo que te apasiona"</strong></em></h4>
						   		 
							</div>
								
				  	  	</div>
					  	<button class="btn saberMas botonSaber2">Saber más</button>
				    </div>

				    <div class="item">
				      	<img src="{{ asset("images/textoConfeccion.jpg") }}" alt="Revista">
				      	<div class="carousel-caption d-none d-md-block cajaMovil">
						    <div class="cajaCarousel">
						   		 <h4><em><strong>"Crea tu revista personalizada"</strong></em></h4>
							</div>
				  	  	</div>
				  	  	<button class="btn saberMas botonSaber3" >Saber más</button>
				    </div>

				  <!-- Left and right controls -->
				    <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left"></span>
					    <span class="sr-only">Previous</span>
				    </a>
				 	<a class="right carousel-control" href="#myCarousel2" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right"></span>
					    <span class="sr-only">Next</span>
			  	 	</a>
				</div>
			</div>
		</div>

		<div class="row">
			<a href="{{ path('fos_user_registration_register') }}"><button id="botonRegistro" class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12" ><strong>Registrate gratis</strong></button></a>
		</div>

		<div class="row">
			<div id="explicacionLeer" class="explicacionBox col-lg-11 col-md-11 col-sm-11 col-xs-11">
				<h1>Lee artículos</h1>

				<p>Aunque puedes leer todos los artículos de Articlea sin necesidad de registrarte, hacerlo  tiene sus ventajas.</p>

				<p>Una vez registrado no sólo podrás leer los artículos sino que también podrás enviarlos a tu página principal (a la que en Articlea llamamos Revista) y/o marcarlos como favoritos para tenerlos a tu alcance siempre que quieras.</p>
				
				<p>Además puedes suscribirte a otros usuarios, así siempre que escriban un nuevo artículo se publicará en tu Revista inmediatamente. </p>

				<p>En cada artículo encontrarás el cuerpo de texto, los tags que le a puesto el autor para orientarte acerca de su contenido, una descripción sobre el autor y un botón por si deseas suscribirte a sus artículos. Por supuesto, tambíen podrás dejar algún comentario.</p>

				<p>Haz click en la categoría y te mostraremos más artículos de la misma. Lo mismo puedes hacer con los tags.</p>

				<p>Por último verás que también te recomendaremos los dos artículos más leídos de esa categoría y el artículo más leído de ese autor.</p>
				
			</div>
		</div>

		<div class="row">
			<div id="explicacionEscribir" class="explicacionBox col-lg-11 col-md-11 col-sm-11 col-xs-11">
				<h1>Escribe sobre lo que te apasiona</h1>

				<p>En Articlea creemos que nadie puede transmitir algo mejor que quién lo siente y disfruta con pasión.</p>

				<p>Por eso, queremos invitarte a que escribas  artículos sobre lo que más te guste: deporte, historia, naturaleza... sobre lo que quieras. Al registrarte puedes indicar la categoría sobre la que escribirías, pero, no te preocupes, puedes cambiar de categoría cuando quieras.</p>

				<p>Cuando escribas un artículo podrás ponerle hasta cinco tags para concretar más su temática. De esta manera, mediante los tags y la categoría, será más fácil que los lectores puedan encontrar tu artículo y disfrutar de él.</p>

				<p>Como equivocarse es humano, podrás editar tu artículo o eliminarlo cuando quieras. Sólo tendrás que entrar en tu artículo, debajo de la barra de favoritos y de "enviar a mi revista" encontrarás los comandos necesarios.</p>

				
			</div>
		</div>

		<div class="row">
			<div id="explicacionConfeccionar" class="explicacionBox col-lg-11 col-md-11 col-sm-11 col-xs-11">
				<h1>Crea tu propia revista personalizada</h1>

				<p>"Revista" es como llamamos en Articlea a las páginas de inicio de cada usuario. En tu revista recibirás los artículos de los usuarios a los que te hayas suscrito, además podrás enviar a tu revista cualquier artículo que leas y que desees conservar. </p>

				<p>Los artículos que hayas recibido a tu revista y que no hayas leído estarán marcados para que puedas identificarlos fácilmente. Además la barra superior te indicará si tienes artículos por leer y cuantos son. Si no deseas conservar algún artículo podrás eliminarlo de tu revista, quedándote así con los que más te interesen.</p>

				<p>Desde tu revista podrás acceder a los artículos que hayas escrito, los que hayas marcado como favoritos, a tu perfil y a la pantalla de creación de artículos.</p>

			</div>
		</div>
	</div>
	<div id="botonSubir"><span class="glyphicon glyphicon-upload"></span></div>

		
	<script>
			$( document ).ready(function() {
    			$(".botonSaber1").click(function(){
    				
    				 $('html, body').animate({
                    scrollTop: $("#explicacionLeer").offset().top -25
               		 }, 1000);
    			});

    			$(".botonSaber2").click(function(){
    				
    				$('html, body').animate({
                    scrollTop: $("#explicacionEscribir").offset().top - 25
               		 }, 1000);

    			});

    			$(".botonSaber3").click(function(){
    				
    				$('html, body').animate({
                    scrollTop: $("#explicacionConfeccionar").offset().top - 25
               		 }, 1000);
    			});

    			$("#botonSubir").click(function(){
    				$('html, body').animate({
                    scrollTop: $("#bienvenida").offset().top 
               		 }, 1000);
    			});

    			$(window).scroll(function() {
			        var scroll = $(this).scrollTop();
			        if (scroll > 200) {
			            $('#botonSubir').fadeIn(200);
			        }if (scroll < 200){
			          $('#botonSubir').fadeOut(200);
			        }
    
				});
			});

		</script>
   
{% endblock %}