{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    {{ form_widget(form.descripcion) }}
{{ form_errors(form.categoria) }}{{ form_widget(form.categoria, { 'separator': '=====' }) }}
{{ form_widget(form.imageFile) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
