
{% extends '::base.html.twig' %}


    {% block body %}
        <a href="{{ path('app_texto_index')}}">Volver</a> <br>
    <form action="{{ path('app_usuario_buscarUsuario') }}" method="post">
        Nombre: <input type="text" name="busquedaUsuario">
        <input type="submit">
    </form>


        {% for usuario in usuarios %}

            {% if usuario.image == null %}
            <img src="{{ asset("images/profile.png") }}" class="img-responsive" width="304" height="236">
            {% else %}
           <img src="{{ asset("images/upload/" ~usuario.image) }}" class="img-responsive" width="304" height="236" >
                {% endif %}
           <h4>{{ usuario.id }}.{{ usuario.username }}</h4>
            {% if usuario.hasRole('ROLE_ADMIN') %}
                <p>Administrador</p>
            {% endif %}
                <a href="{{ path('app_usuario_cambiarRole', {'id': usuario.id}) }}">Cambiar rol</a> <br>
            <a href="{{ path('app_usuario_remove', {'id': usuario.id}) }}">Eliminar</a> <br>

        {% endfor %}
        <div class="navigation text-center">
            {{ knp_pagination_render(usuarios) }}
        </div>
    {% endblock %}
