
{% extends '::base.html.twig' %}


    {% block body %}
        <a href="{{ path('app_texto_index')}}">Volver</a> <br>

        {% for usuario in usuarios %}
            {% if usuario.image == null %}
                <img src="{{ asset("images/profile.png") }}" class="img-responsive" width="304" height="236">
            {% else %}
                <img src="{{ asset("images/upload/" ~usuario.image) }}" class="img-responsive" width="304" height="236" >
            {% endif %}
           <h4>{{ usuario.id }}.{{ usuario.username }}</h4>
            <a href="{{ path('app_textoCategoria_show', {'categoria': usuario.categoria}) }}">{{ usuario.categoria }}</a>
            {% if app.user %}
                {% if app.user == usuario.username %}
                {% elseif  usuario.username in app.user.getSuscripciones() %}

                    <a href="{{ path('app_usuario_suscripcion', {'usuario': usuario.username}) }}"><button>Eliminar suscripcion</button></a><br>
                {% else %}
                    <a href="{{ path('app_usuario_suscripcion', {'usuario': usuario.username}) }}"><button>Suscribirse</button></a><br>
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="navigation text-center">
            {{ knp_pagination_render(usuarios) }}
        </div>
    {% endblock %}
