
{% extends '::base.html.twig' %}


    {% block body %}
        <a href="{{ path('app_texto_index')}}">Volver</a> <br>

        {% for usuario in usuarios %}
           <h4>{{ usuario.id }}.{{ usuario.username }}</h4>
            {% if usuario.hasRole('ROLE_ADMIN') %}
                <p>Administrador</p>
            {% endif %}
                <a href="{{ path('app_usuario_cambiarRole', {'id': usuario.id}) }}">Cambiar rol</a> <br>
            <a href="{{ path('app_usuario_remove', {'id': usuario.id}) }}">Eliminar</a> <br>

        {% endfor %}

    {% endblock %}
